<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @quote.car %>
</p>

<p>
  <strong>Client:</strong>
  <%= @quote.client %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.employee %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @quote.branch %>
</p>

<p>
  <strong>Quote price:</strong>
  <%= @quote.quote_price %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
