
<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Registrar Nuevo Cliente</h3>
</div>
<div class="modal-body" id="modal-body">
  <%= simple_form_for(@client, html: { name: 'form.clientForm'}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, input_html: {'ng-model'=>"newClient.email"} %>
      <%= f.input :name , input_html: {'ng-model'=>"newClient.name"}%>
      <%= f.input :surname, input_html: {'ng-model'=>"newClient.surname"} %>
      <%= f.input :rut, input_html: {:'ng-rut'=> '', 'ng-model'=>"newClient.rut"} %>
      <div class="row" ng-show="newClient.rut==null">
        <div class="col-sm">
          <p style="color: red;">RUT invalido</p>
        </div>
      </div>
      <%= f.input :address, input_html: {'ng-model'=>"newClient.address"} %>
      <%= f.input :phone, input_html: {'ng-model'=>"newClient.phone"} %>
    </div>

  <% end %>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Registrar Cliente</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
</div>