<div class="row form-inputs">
  <div class="col-sm">
    <%= c.association :brand %>
  </div>
  <div class="col-sm">
    <%= c.input :model %>
  </div>
  <div class="col-sm">
    <%= c.input :year %>
  </div>
</div>

<div class="row form-inputs">
  <div class="col-sm">
    <%= c.input :license_plate %>
  </div>
  <div class="col-sm">
    <%= c.input :color %>
  </div>
  <div class="col-sm">
    <%= c.input :milage %>
  </div>
</div>

<div class="row form-inputs">
  <div class="col-sm">
    <%= f.association :fuel %>
  </div>
  <div class="col-sm">
    <%= c.association :transmission %>
  </div>
  <div class="col-sm">

  </div>
</div>