<div class="container">
  <h3>Financiera</h3>
  <div class="row form-inputs">

    <div class="col-sm">
      <%= f.input :amount, input_html: { min: 0 } %>
    </div>

    <div class="col-sm">
      <%= f.association :financier %>
    </div>

    <div class="col-sm align-self-end form-group text-right">
      <%= f.hidden_field :_destroy %>
      <%= link_to "X", '#', class: "remove_fields btn btn-danger" %>
    </div>



  </div>
  <div class="row form-inputs">
    <div class="col-sm align-self-end form-group">
      <%= f.input :down_payment %>
    </div>

    <div class="col-sm"></div>
    <div class="col-sm"></div>


  </div>
</div>



