<div class="row">
  <%= decorated.decorate.show_cash_payments %>

  <%= decorated.decorate.show_check_payments %>

  <%= decorated.decorate.show_card_payments %>

  <%= decorated.decorate.show_financier_payments(admin: admin) %>



  <%= decorated.decorate.show_transfer_payments %>

</div>

<%= decorated.decorate.show_vehicle_payments %>