<div class="row">
  <%= @sale.decorate.show_cash_payments %>

  <%= @sale.decorate.show_check_payments %>

  <%= @sale.decorate.show_card_payments %>

  <%= @sale.decorate.show_financier_payments %>



  <%= @sale.decorate.show_transfer_payments %>

</div>

<%= @sale.decorate.show_vehicle_payments %>