<%= simple_form_for(@car) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :brand %>
    <%= f.input :model %>
    <%= f.input :license_plate %>
    <%= f.input :year %>
    <%= f.input :color %>
    <%= f.input :milage %>
    <%= f.association :fuel %>
    <%= f.association :transmission %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
