<table id="<%= klass %>_table" class="display index_table" data-language='<%= datatable_language %>'>
  <thead>
  <tr>
    <% attributes.each do |attribute_name,_| %>
        <th> <%= klass.human_attribute_name(attribute_name) %> </th>
    <% end %>

    <th></th>
  </tr>
  </thead>

  <tbody>
  <% collection.each do |object| %>
      <tr>
        <% attributes.each do |attribute_name| %>

            <td align="center"><%= object.decorate.send(attribute_name) %></td>

        <% end %>
        <td align="center"><%= action_button(object) %></td>



      </tr>
  <% end %>
  </tbody>
</table>