<p id="notice"><%= notice %></p>

<h1> <%= Sale.model_name.human(count: 2) %> </h1>

<%= @sales.show_all %>

<br>

<%= action_button(nil, button_class: 'btn btn-warning', text: 'Generar Reserva', path: new_reservation_path) %>
<%= action_button(nil, text: 'Generar Venta', path: new_sale_path) %>
