<h1>Nueva venta</h1>

<div ng-controller="SalesCtrl as sc" class="modal-demo">
  <%= simple_form_for(@sale) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.association :client, as: :hidden, input_html: {
          'ng-model'=>"currentClientID",
          'value'=>'{{currentClientID}}'}%>

      <div class="row">
        <div class="col-sm">
          <%= f.input :rut , input_html: {
              'ng-model'=>"sc.rut"
          }%>
        </div>
        <div class="col-sm align-self-end form-group">
          <a class="btn btn-info" ng-click="sc.getClient()" href="">Buscar Cliente</a>

        </div>

      </div>

      <div class="content" ng-show="currentClient!=null">
        <table class="display table table-condensed table-responsive">
          <thead>
          <tr>
            <th><h3> Cliente </h3></th>
          </tr>

          </thead>
          <tbody>
          <tr>
            <td> RUT </td>
            <td> {{currentClient.rut}} </td>
          </tr>
          <tr>
            <td> Nombre </td>
            <td> {{currentClient.name + " " + currentClient.surname}} </td>
          </tr>
          <tr>
            <td> Correo Electrónico </td>
            <td> {{currentClient.email}} </td>
          </tr>
          <tr>
            <td> Teléfono </td>
            <td> {{currentClient.phone}} </td>
          </tr>

          </tbody>
        </table>
      </div>

      <%= f.association :branch, input_html: {
          'ng-change'=>"sc.getCars()",
          'ng-model'=>"sc.currentBranch"} %>

      <%= f.association :car, input_html: {
          'ng-options'=> 'car.label for car in sc.cars track by car.id',
          'ng-disabled'=> 'sc.enableCar',
          'ng-model'=>"sc.currentCar",
          'ng-change'=>'sc.updateFields()'
      }%>



      <div class="content" ng-show="sc.currentCar!=null">
        <table class="display table table-condensed table-responsive">
          <thead>
          <tr>
            <th><h3> Vehiculo </h3></th>
          </tr>

          </thead>
          <tbody>
          <tr>
            <td> Modelo </td>
            <td> {{sc.currentCar.brand + " " + sc.currentCar.model_safe + " " + sc.currentCar.year}} </td>
          </tr>
          <tr>
            <td> Patente </td>
            <td> {{sc.currentCar.license_plate}} </td>
          </tr>
          <tr>
            <td> Color </td>
            <td> {{sc.currentCar.color}} </td>
          </tr>
          <tr>
            <td> Precio Lista </td>
            <td> {{sc.currentCar.list_price}} </td>
          </tr>

          </tbody>
        </table>

        <%= f.input :appraisal, input_html: {
            'ng-model'=>"sc.sale.appraisal",
            'ng-change'=>'sc.updateFields()'
        }%>
        <%= f.input :transfer_cost, input_html: {
            'ng-model'=>"sc.sale.transfer_cost",
            'ng-disabled'=>'true'
        }%>
        <%= f.input :pva, input_html: {
            'ng-model'=>"sc.sale.pva",
            'ng-change'=>'sc.updateFields()'
        }%>
        <%= f.input :tax, input_html: {
            'ng-model'=>"sc.sale.tax",
            'ng-disabled'=>'true'
        }%>

        <%= f.input :discount, input_html: {
            'ng-model'=>"sc.sale.discount",
            'ng-change'=>'sc.updateFields()'
        }%>

        <%= f.input :total_transfer, input_html: {
            'ng-model'=>"sc.sale.total_transfer",
            'ng-disabled'=>'true'
        }%>

        <%= f.input :sale_price, input_html: {
            'ng-model'=>"sc.sale.sale_price",
            'ng-disabled'=>'true'
        }%>

        <%= f.input :final_price , input_html: {
            'ng-model'=>"sc.sale.final_price",
            'ng-disabled'=>"true"
        }%>
      </div>


      <h2>Formas de Pago</h2>


      <div class="row">
        <div class="col-sm">
          <%= f.input :payment_selector, as: :select,
                      collection:
                          [[0, 'Efectivo'],
                           [1, 'Tarjeta'],
                           [2, 'Cheque'],
                           [3, 'Financiera'],
                           [4, 'Auto en parte de Pago']],
                      label_method: :second, value_method: :first,
                      input_html: {
                          'ng-model'=>"payment_selector"
                      }
          %>
        </div>

        <div class="col-sm align-self-end form-group">
          <%= add_payment_method('Agregar Metodo de Pago', f, 'button_add_payment_method') %>

        </div>
      </div>

      <%= f.input :comment , input_html: {
          'ng-model'=>"sc.sale.comment"
      }%>






    </div>

    <div class="form-actions row">
      <div class="col-sm">
        <%= f.button :submit %>
      </div>
      <div class="col-sm">
        <%= link_to 'Back', sales_path %>
      </div>

    </div>
  <% end %>


</div>



