
<%= @sale.decorate.pretty_show %>

<h2>Formas de Pago</h2>
<div class="container">

  <%= @sale.decorate.show_payments %>

  <div class="row justify-content-between">
    <div class="col-sm">
      <%= link_to (t 'back'), sales_path, class: 'btn btn-warning' %>
    </div>
    <div class="col-sm">
      <%= button_to 'Generar Documento', sale_path(@sale, format: "pdf"), class: "btn btn-primary", :method => :get   %>
    </div>
    <div class="col-sm">
      <%= link_to 'Carta de Responsabilidad', sale_path(@sale,responsability: '', format: "pdf"), class: "btn btn-info", :method => :get   %>
    </div>
    <% if can? :delete, @sale %>
      <div class="col-sm">
        <%= link_to 'Anular Venta',
                    sale_path(@sale),
                    method: :delete,
                    class: "btn btn-danger",
                    data: { confirm: '¿Esta seguro que desea anular esta venta?' } %>
      </div>
      <div class="col-sm">
        <%= link_to 'Anular y Recrear Venta',
                    sale_path(@sale, recreate: true),
                    method: :delete,
                    class: "btn btn-danger",
                    data: { confirm: '¿Esta seguro que desea anular esta venta?' } %>
      </div>
    <% end %>

  </div>

</div>