<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to image_tag('logoweb04.png'), root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <span class="navbar-text" style="padding-right: 12px">
            <%= link_to t('home'),root_path %>
          </span>
        </li>
        <% if employee_signed_in? %>
          <% if current_employee.has_role? :administrator %>
            <li class="nav-item">
              <span class="navbar-text" style="padding-right: 12px">
                <%= link_to t('admin'), admin_root_path %>
              </span>
            </li>
          <% end %>
          <% if can? :read, Car %>
            <li class="nav-item">
              <span class="navbar-text" style="padding-right: 12px">
                <%= link_to t('car.show.table_title'), cars_path %>
              </span>
            </li>
          <% end %>

          <% if can? :read, Sale %>
            <li class="nav-item">
              <span class="navbar-text" style="padding-right: 12px">
                <%= link_to t('sale.show.table_title'), sales_path %>
              </span>
            </li>
          <% end %>

          <% if can? :read, Reservation %>
            <li class="nav-item">
              <span class="navbar-text" style="padding-right: 12px">
                <%= link_to t('reservation.show.table_title'), reservations_path %>
              </span>
            </li>
          <% end %>

          <% if can? :read, Quote %>
            <li class="nav-item">
              <span class="navbar-text" style="padding-right: 12px">
                <%= link_to t('quote.show.table_title'), quotes_path %>
              </span>
            </li>
          <% end %>

          <% if can? :read, Acquisition %>
            <li class="nav-item">
              <span class="navbar-text" style="padding-right: 12px">
                <%= link_to t('acquisition.show.table_title'), acquisitions_path %>
              </span>
            </li>
          <% end %>
        <% end %>
      </ul>
      <% if employee_signed_in? %>
          <span class="navbar-text" style="padding-right: 12px">
            <%= "#{t('sign_as')} #{current_employee.name}" %>
          </span>
          <span class="navbar-text">
            <%= image_tag current_employee.avatar, html_options = {style: 'max-height:40px; border-radius: 25px;'} %>
            <%= link_to(t('logout'), destroy_employee_session_path, method: :delete) %>
          </span>
      <% else %>
        <%= link_to(t('sign_in'), new_employee_session_path, html_options = {class: 'btn btn-primary'} ) %>
      <% end %>

    </div>
  </div>
</nav>