<!DOCTYPE html>
<html>
<head>
  <title>DocArk</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/navbar'  %>
<br>
<%= render_flash %>
<div class="container pb-2">
  <%= yield %>
  <br>
  <br>
</div>
<br>
<%= render 'layouts/footer' %>

</body>
</html>
